.add_contact_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup_content {
  text-align: center;
}

.popup_content > label {
    margin: 15px;
    display: flex;
    align-items: center;
}

.popup_content > label > input {
    margin: 5px;
}

.popup_buttons {
  display: flex;
  justify-content: space-between;
}
