.ant-modal-content{
  width: 60%;
}
.GroupCreationPopup {
  padding: 8px;
  border-radius: 0;
}

.GroupCreationPopup-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: 600;
}

.GroupCreationPopup-content {
  display: flex;
  flex-direction: column;
}

.GroupCreationPopup-textarea {
  margin-bottom: 16px;
}

.GroupCreationPopup-select {
  margin-top: 8px;
  border: 0;
}

.input-custom {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 3px solid #d9d9d9 !important;
}

.input-custom:hover,
.input-custom:focus {
  border-bottom-color: #128c7e !important; /* Change the color as needed */
  box-shadow: none !important;
}

.select-custom {
  width: 100%;
  border: none;
  border-bottom: 3px solid #d9d9d9; /* Add a bottom border for a separator effect */
  box-shadow: none; /* Remove the box-shadow */
}

.select-custom .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.select-custom:hover,
.select-custom:focus {
  border-color: #128c7e;
}

.GroupCreationPopup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.GroupCreationPopup-footer>Button {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  
}

.GroupCreationPopup-footer>Button:first-child {
  margin-right: 8px;
}

.GroupCreationPopup-footer>Button:first-child:hover,.GroupCreationPopup-footer>Button:first-child:focus {
  background-color: #d9d9d9;
  border: none;
  color: grey !important;

}

.GroupCreationPopup-footer>Button:last-child {
    background-color: #128c7e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.GroupCreationPopup-footer>Button:last-child:hover,.GroupCreationPopup-footer>Button:last-child:focus{
  background-color:#92E3A9 !important;
}

